.header {
  border-bottom: 1px solid #ececec;
  .header-wrapper {
    padding: px2rem(12);
    background: $headerBg;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    // border-bottom: 1px solid #d4d4d4;
    .left {
      flex: 1;
      .logo {
        line-height: px2rem(37.5);
        height: px2rem(37.5);
        font-size: px2rem(20);
        font-weight: 600;
        letter-spacing: px2rem(10);
        color: rgb(54, 54, 54);
      }
      .content {
        // display: flex;
        // justify-content: flex-start;
        line-height: px2rem(37.5);
        height: px2rem(37.5);
        .icon {
          display: inline-block;
          font-size: px2rem(24);
          color: $color;
          transform: rotate(180deg);
          transform-origin: 50% 40%;
        }
        .title {
          display: inline-block;
          width: px2rem(300);
          text-align: center;
          color: $color;
          font-size: px2rem(16);
          @include ell();
        }
      }
    }
    .right {
      flex: 0 auto;
      display: flex;
      line-height: px2rem(37.5);
      justify-content: flex-end;
      .icon {
        font-size: px2rem(24);
        color: $color;
      }
    }
  }
}
