.header {
  .header-wrapper{
    padding: 0.3rem;
    background: #149dc5;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #d4d4d4;
    .left {
      flex: 1;
      .logo {
        width: 2.5rem;
        height: 1rem;
        background-repeat:no-repeat;
        background-size: 100% 100%; 
      }
    }
    .right {
      flex: 0 2.5rem;
      display: flex;
      line-height: 1rem;
      justify-content: space-around;
      .icon {
        font-size: .6rem;
        color: #fff;
      }
    }
  }
}
